.bg-w {
  background: #fff;
}
.bg-b {
  background: #000;
}
.bg-29 {
  background: #29bde0;
}
.bg-69 {
  background: #69d1e9;
}
.bg-83 {
  background: #83b09a;
}
.bg-b9 {
  background: #b9e9f5;
}
.bg-99 {
  background: #99dff0;
}
.bg-f0 {
  background: #f0f0f0;
}
.bg-f5 {
  background: #f5c97b;
}
.bg-f6 {
  background: #f66f6f;
}
.bg-fb {
  background: #fbb435;
}
