$header-background-color: #5fc0cd;
$main-background-color: #eff0f4;
$font-stack: "Heiti SC", sans-serif;
$font-size: 1rem;
$header-font: $font-size #fff $font-stack;
$main-font: $font-size #5fc0cd $font-stack;
$placeholder-font: $font-size #eff0f4 $font-stack;

