.bg-w {
  background: #fff;
}
.bg-b {
  background: #000;
}
.bg-26 {
  background: #26a26f;
}
.bg-28 {
  background: #289083;
}
.bg-29 {
  background: #29bde0;
}
.bg-60 {
  background: #609870;
}
.bg-68 {
  background: #68Af7A;
}
.bg-69 {
  background: #69d1e9;
}
.bg-75 {
  background: #75c18a;
}
.bg-82 {
  background: #82d098;
}
.bg-83 {
  background: #83b09a;
}
.bg-55 {
  background: #558f64;
}
.bg-b2 {
  background: #b2b2b2;
}
.bg-b9 {
  background: #b9e9f5;
}
.bg-99 {
  background: #99dff0;
}
.bg-f0 {
  background: #f0f0f0;
}
.bg-f5 {
  background: #f5c97b;
}
.bg-f6 {
  background: #f66f6f;
}
.bg-fb {
  background: #fbb435;
}
