//the common part of fixed header and footer
@mixin fix($height){
  position: fixed;
  width: 100%;
  height: $height;
}

@mixin square-box($length) {
  width: $length;
  height: $length;
}
@mixin circle($diameter) {
  display: inline-block;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
}
//fixed header and footer
.fix-h-5 {
  @include fix(5rem);
  top: 0;
}
.fix-h-15 {
  @include fix(15rem);
  top: 0;
}
.fix-f-5 {
  @include fix(5rem);
  bottom: 0;
}
.fix-f-10 {
  @include fix(10rem);
  bottom: 0;
}


//little burger image, the burger is container
//burger should include 3 burger items
.burger {
  flex-direction: column;
  @include square-box(3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
.burger-item {
  width: 2rem;
  height: 0.3rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
//little ball
.ball-1 {
  @include circle(1rem);
}
